<md-card class="card">
  <md-card-header>
    <md-card-title>
      <h1>User settings</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <h2>Change Division</h2>
    <form class="form" [formGroup]="divisionChangeForm">
      <table class="table">
        <tr>
          <td>
            <md-select class="input" placeholder="Division" [(ngModel)]="division" name="division" formControlName="divisionCtrl">
              <md-option *ngFor="let division of divisions" [value]="division.name">
                {{division.name}}
              </md-option>
            </md-select>
          </td>
        </tr>
        <tr>
          <td>
            <button md-button class="button" (click)="confirmChangeDivision()" [disabled]="divisionChangeForm.invalid">CHANGE DIVISION</button>
          </td>
        </tr>
      </table>
    </form>

    <h2>Change Password</h2>
    <form class="form" [formGroup]="passwordChangeForm">
      <table class="table">
        <tr>
          <td>
            <md-input-container class="input">
              <input mdInput type="password" placeholder="current password" [(ngModel)]="model.currentPassword" formControlName="currentPasswordCtrl"
              />
              <md-error *ngIf="currentPasswordCtrl.hasError('required')">
                The current password is <strong>required</strong>
              </md-error>
              <md-error *ngIf="currentPasswordCtrl.hasError('wrong password')">
                This password is <strong>wrong</strong>
              </md-error>
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container class="input">
              <input mdInput type="password" placeholder="new password" [(ngModel)]="model.newPassword" formControlName="newPasswordCtrl"
              />
              <md-error *ngIf="newPasswordCtrl.hasError('required')">
                The new password is <strong>required</strong>
              </md-error>
              <md-error *ngIf="newPasswordCtrl.hasError('no match')">
                The passwords didn't match
              </md-error>
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <button md-button class="button" (click)="confirmChangePassword()" [disabled]="passwordChangeForm.invalid">CHANGE PASSWORD</button>
          </td>
        </tr>
      </table>
    </form>
  </md-card-content>
</md-card>