<md-expansion-panel class="expansion" #detailedInfluence>
  <md-expansion-panel-header>
    <mat-panel-title>Detailed Influence</mat-panel-title>
  </md-expansion-panel-header>
  <table class="table">
    <tr>
      <td><label>Name:</label></td>
      <td>Dummy</td>
    </tr>
    <tr>
      <td><label>Rank:</label></td>
      <td>Dummy</td>
    </tr>
    <tr>
      <td><label>Main Division:</label></td>
      <td>Dummy</td>
    </tr>
    <tr>
      <td><label>Tributes:</label></td>
      <td>Dummy</td>
    </tr>
    <tr>
      <td><label>Tributes gained per month:</label></td>
      <td>Dummy</td>
    </tr>
    <tr>
      <td><label>Influence total:</label></td>
      <td>Dummy</td>
    </tr>
  </table>
</md-expansion-panel>