<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome to the Corporation!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<!-- <link href="bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"
	media="screen" />-->

	<!--     <meta name="description" content=""> -->
	<!--     <meta name="author" content=""> -->
	<!--     <link rel="icon" href="../../favicon.ico"> -->

</head>

<body>

	<md-toolbar color="primary">
		<span>Corporate Influence System</span>
	</md-toolbar>

	<md-sidenav-container class="sidenav-container">
		<md-sidenav #sidenav mode="side" opened="true">
			<md-nav-list>
				<div *ngIf="!login">
					<a routerLink="/welcome" routerLinkActive="active">
						<md-list-item>
							<md-icon md-list-icon>home</md-icon>
							<p md-line> Welcome </p>
						</md-list-item>
					</a>
					<md-divider></md-divider>
					<a routerLink="/login" routerLinkActive="active">
						<md-list-item>
							<md-icon md-list-icon>https</md-icon>
							<p md-line> Login </p>
						</md-list-item>
					</a>
				</div>
				<div *ngIf="login">
					<a routerLink="/profile" routerLinkActive="active">
						<md-list-item>
							<md-icon md-list-icon>account_circle</md-icon>
							<p md-line> Profile </p>
						</md-list-item>
					</a>
					<md-divider></md-divider>
					<a routerLink="/divisions" routerLinkActive="active">
						<md-list-item>
							<md-icon md-list-icon>security</md-icon>
							<p md-line> Divisons </p>
						</md-list-item>
					</a>
					<md-divider></md-divider>
					<a routerLink="/transaction" routerLinkActive="active">
						<md-list-item>
							<md-icon md-list-icon>payment</md-icon>
							<p md-line> Send Transaction </p>
						</md-list-item>
					</a>
					<md-divider></md-divider>
					<a routerLink="/history" routerLinkActive="active">
						<md-list-item>
							<md-icon md-list-icon>history</md-icon>
							<p md-line> History </p>
						</md-list-item>
					</a>
					<md-divider></md-divider>
					<a routerLink="/shop" routerLinkActive="active">
						<md-list-item>
							<md-icon md-list-icon>add_shopping_cart</md-icon>
							<p md-line> Spend influence </p>
						</md-list-item>
					</a>
					<md-divider></md-divider>
					<a routerLink="/settings" routerLinkActive="active">
						<md-list-item>
							<md-icon md-list-icon>settings</md-icon>
							<p md-line> Settings </p>
						</md-list-item>
					</a>
					<div *ngIf="isAdmin">
						<md-divider></md-divider>
						<a routerLink="/admin" routerLinkActive="active">
							<md-list-item>
								<md-icon md-list-icon>account_balance</md-icon>
								<p md-line> Admin </p>
							</md-list-item>
						</a>
					</div>
					<div *ngIf="isAdmin">
						<md-divider></md-divider>
						<a routerLink="/membership" routerLinkActive="active">
							<md-list-item>
								<md-icon md-list-icon>account_balance</md-icon>
								<p md-line> Division Membership </p>
							</md-list-item>
						</a>
					</div>
					<div *ngIf="isAdmin">
						<md-divider></md-divider>
						<a routerLink="/users" routerLinkActive="active">
							<md-list-item>
								<md-icon md-list-icon>wc</md-icon>
								<p md-line> Users </p>
							</md-list-item>
						</a>
					</div>
					<div *ngIf="isAdmin">
						<md-divider></md-divider>
						<a routerLink="/transactions" routerLinkActive="active">
							<md-list-item>
								<md-icon md-list-icon>payment</md-icon>
								<p md-line> All transactions </p>
							</md-list-item>
						</a>
					</div>
					<div *ngIf="isAdmin">
						<md-divider></md-divider>
						<a routerLink="/logs" routerLinkActive="active">
							<md-list-item>
								<md-icon md-list-icon>security</md-icon>
								<p md-line> Log </p>
							</md-list-item>
						</a>
					</div>
					<md-divider></md-divider>
					<md-list-item (click)="logout()">
						<md-icon md-list-icon>power_settings_new</md-icon>
						<p md-line> Logout </p>
					</md-list-item>
				</div>
			</md-nav-list>

		</md-sidenav>
		<div class="scrolling-content">
			<router-outlet></router-outlet>
		</div>
	</md-sidenav-container>
</body>

</html>