<md-card class="card">
  <md-card-header>
    <md-card-title>
      <h1> Admin interface </h1>
    </md-card-title>
    <md-card-subtitle>with great power comes great respnsibility...</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <h3>Actions</h3>
    <button md-button class="button" (click)="distributeTributes()">DISTRIBUTE TRIBUTES</button>
  </md-card-content>
</md-card>