<md-card class="card">
  <md-card-header>
    <md-card-title>
      <h1> Welcome! </h1>
    </md-card-title>
    <md-card-subtitle>to a better tomorrow</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/corplogo.png">
  <md-card-content>
    <p>To use our Influence System you need to login or register via Discord if you don't already have an account.</p>
  </md-card-content>
  <md-card-actions>
    <!--<a routerLink="/login" role="button"><button md-button class="button" disabled>REGISTER</button></a>-->
    <a routerLink="/login" role="button"><button md-button class="button">LOGIN</button></a>
  </md-card-actions>
</md-card>