<md-card class="card">
  <md-card-header>
    <md-card-title>
      <h1> Welcome! </h1>
    </md-card-title>
    <md-card-subtitle>to a better tomorrow</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/corplogo.png">
  <md-card-content>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>To use our Influence System you need to login or register if you don't already have an account.</p>
  </md-card-content>
  <md-card-actions>
    <a routerLink="/login" role="button"><button md-button class="button" disabled>REGISTER</button></a>
    <a routerLink="/login" role="button"><button md-button class="button">LOGIN</button></a>
  </md-card-actions>
</md-card>